html{ 
    font-size: 14px;
	color: #222;
	margin:0;
}

body {
	margin: 0;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-seri;
    font-weight: 400;
}
.wrap{
	overflow:hidden;
}
/* header */

.site-header {
	width:100%;
	position: absolute;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media screen and (max-width: 767px)

@media screen and (max-width: 1080px){
.site-header {
    background-color: #fff;
    position: fixed;
    z-index: 30;
	}
}
.site-header .header-inner > *:last-child {
    display: inline-flex;
}
.contents-tidy {
	display: flex;
	justify-content: space-between;
}
	.header-width {
    max-width: 100%;
	margin: 0 36px 0 36px;
	position: relative;
}

.site-header .site-header-inner > *:last-child {
    display: inline-flex;
}

	.header-logo > .header-logo-pc {
		width: auto;
		height: 20px;
	}
	
	.header-logo > .header-logo-sp {
    display: none;
	}
	
	@media screen and (max-width: 767px){
.header-logo > .header-logo-pc {
    display: none;
}
	}
	@media screen and (max-width: 767px){
.header-logo > .header-logo-sp {
    display: inline-block;
    width: auto;
    height: 16px;
		}
}

@media screen and (min-width: 768px){
.hover-opacity {
    transition: opacity 0.2s;
	}
}

.header-nav .header-nav-list > li + li {
    margin-left: 45px;
	}
	
	.header-nav .header-nav-list.contents-tidy {
		align-items: center;
	}
	
	.header-nav-hamburger {
    display: none;
	}
	
	@media screen and (max-width: 1080px){
.header-nav-hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
	}
	}
	
	@media screen and (max-width: 1080px){
.header-nav-hamburger-line:first-child {
    top: 0;
		}
	}
@media screen and (max-width: 1080px){
.header-nav-hamburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
		}
	}
	

	

	

	@media screen and (max-width: 1080px){
.header-nav-hamburger-line:last-child {
    top: 100%;
		}
	}
	
	
	@media screen and (max-width: 1080px){
.header-nav .header-nav-item-outline {
    margin-right: 0;
	}
	}
	@media screen and (max-width: 1080px){
.header-nav .header-nav-item {
    padding: 20px 0;
		}
	}
	
	@media screen and (max-width: 1080px){
.header-nav .header-nav-item > span:first-child {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
		}
	}
	
	@media screen and (max-width: 1080px){
.header-nav .header-nav-item > span:last-child {
    font-size: 12px;
    margin-top: 10px;
    color: #f79314;
    letter-spacing: 2px;
	}
	}
	
	@media screen and (max-width: 1080px){
.link-button.menu {
    height: 60px;
    font-size: 16px;
		}
	}
	@media screen and (max-width: 1080px){
.header-nav .header-nav-list {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-overflow-scrolling: touch;
	}
	}
	

	
	@media screen and (max-width: 1080px){
.header-nav .header-nav-item-outline {
    margin-right: 0;
}
	}
	.header-nav .header-nav-item {
		display: block;
	}
li {
	display: list-item;
	margin-left: 45px;
}
.header-nav span{
	 display: block;
    font-weight: bold;
    text-align: center;
	}
	
	.header-nav .header-nav-item > span:first-child {
    font-family: 'Lato', sans-serif;
}

a { 
	text-decoration: none;
	color: black;
}
.hover-opacity:hover{
	opacity: 0.6;
}
.interview-media:hover .hover-scale{
	transform: scale(1.3);
	}

.link-button {
	    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #f79314;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    font-size: 12px;
	border: none;
	}
	.header-button {
    width: fit-content;
	}
	.link-button.menu {
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}
	/*メイン　top-hero */
	main {
    display: block;
}
@media screen and (max-width: 1080px){
main {
    padding-top: 60px;
}
}

.section-top-hero { 
	padding-top: 190px;
	padding-bottom: 20px;
	background-image: url(image/top-hero.png);
		background-position: right 0;
		background-size: auto 100%;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px){
.section-top-hero {
    padding-top: 258px;
    padding-bottom: 12px;
    background-image: url(image/top-hero-sp.png);
	}
}

.contents-width {
    max-width: 1140px;
	padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
	position: relative;
}

@media screen and (max-width: 767px){
.content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}
}

	.top-hero-box {
    position: relative;
    max-width: 337px;
}

@media screen and (max-width: 767px){
.top-hero-box {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
	}
}

	.top-hero-box .top-hero-heading > img {
    width: 100%;
    height: auto;
	}
	.top-hero-box .top-hero-text {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    line-height: 1.7;
}

@media screen and (max-width: 767px){
.top-hero-box .top-hero-text {
    font-size: 15px;
    text-shadow: 0 0 10px rgb(255 255 255 / 60%);
	}
}

	.top-hero-box .top-hero-text > span {
    color: #f79314;
	}
	p {
    color: #333;
	}
	.top-hero-box > * + * {
    margin-top: 30px;
}

@media screen and (max-width: 767px){
.top-hero-box > * + * {
    margin-top: 20px;
	}
}

	.link-button.no-subtitle {
    font-size: 16px;
	}
	.top-hero-box .No1-notation {
    margin: 0;
    position: absolute;
    top: 0;
    right: -170px;
}
@media screen and (max-width: 1024px){
.top-hero-box .No1-notation {
    top: -168px;
    right: 0;
    left: -28px;
	}
}

@media screen and (max-width: 767px){
.top-hero-box .No1-notation {
    top: -118px;
    left: -56px;
	}
}

	.top-hero-box .No1-notation img {
    width: 154px;
    height: 154px;
}

@media screen and (max-width: 767px){
.top-hero-box .No1-notation img {
    width: 120px;
    height: 120px;
	}
}

	.section-top-hero .proviso {
    color: #888;
    font-size: 10px;
    max-width: 512px;
    padding-top: 132px;
}

@media screen and (max-width: 1024px){
.section-top-hero .proviso p {
    background-color: rgba(255, 255, 255, .3);
    color: #000;
    padding: 4px;
	}
}
	/*ポテパンキャンプとは*/
	.main-section.top-about {
    background-color: #f79314;
	padding: 45px 0;
}

@media screen and (max-width: 1024px){
.top-about-content {
    flex-direction: column;
    width: 100%;
}
}

@media screen and (max-width: 767px){
.top-about-content {
    flex-direction: column;
}
}

@media screen and (max-width: 767px){
.main-section.top-about {
    padding: 30px 0;
	}
}
	.banner-for-students {
    width: 100%;
    margin-bottom: 50px;
}

.banner-for-students--sp {
    display: none;
}

@media screen and (max-width: 767px){
.banner-for-students--pc {
    display: none;
}
}

@media screen and (max-width: 767px){
.banner-for-students--sp {
    display: block;
    margin: 0 0 50px 5px;
	}
}
	.top-about .contents-tidy {
    align-items: center;
	}
	.about-text {
    color: #fff;
    width: 53%;
}

@media screen and (max-width: 1024px){
.about-text {
    width: 100%;
	}
}
@media screen and (max-width: 767px){
.about-text {
    width: 100%;
	}
}

	.about-text h2 {
    font-size: 40px;
    letter-spacing: 1px;
}

@media screen and (max-width: 767px){
.about-text h2 {
    font-size: 26px;
    text-align: center;
	}
}
	.about-text h2 > span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
@media screen and (max-width: 767px){
.about-text h2 > span {
    font-size: 30px;
	}
}
	.about-text p {
    color: #fff;
    font-weight: 700;
    margin-top: 15px;
    line-height: 26px;
	}
	.about-text {
    color: #fff;
    width: 53%;
	}
	.about-text + .top-about-button {
    margin-top: 40px;
    width: 250px;
}
@media screen and (max-width: 1024px){
.top-about-button {
    width: 100%;
	}
}
@media screen and (max-width: 767px){
.about-text + .top-about-button {
    margin-top: 40px;
}
}

	.link-button.inversion {
    color: #f79314;
    background-color: #fff;
    margin-right: 10px;
	}
	.link-button span:first-child {
    letter-spacing: 4px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
	}
	.link-button span:last-child {
    font-size: 14px;
}
@media screen and (max-width: 767px){
.link-button span:last-child {
    font-size: 12px;
}
}
	/* ポテパンキャンプの特徴 */
	
	.main-section {
		padding: 100px 0;
		}
		.section-header.contents-tidy {
			flex-direction: column;
			align-items: center;
}
		.section-header{
			width: 100%;
		}
		.section-main-heading {
			font-size: 46px;
			font-weight: bold;
}

@media screen and (max-width: 767px){
.section-main-heading {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
	}
}

@media screen and (max-width: 767px){
.section-main-heading span {
    font-size: 30px;
	}
}

		.section-header h2 > span {
			font-size: 50px;
    font-family: 'Lato', sans-serif;
			font-weight: 900;
}

@media screen and (max-width: 767px){
.section-header h2 > span {
    font-size: 30px;
    letter-spacing: 1px;
	}
}
			.section-sub-heading {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 767px){
.section-sub-heading {
    font-size: 14px;
	}
}

		.section-header.bottom-line::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
	}
	
	.main-section .section-header + .section-contents {
    margin-top: 60px;
}

@media screen and (max-width: 767px){
.main-section .section-header + .section-content {
    margin-top: 50px;
	}
}
	
	.desc-list.list-number {
    margin-top: 110px;
}

@media screen and (max-width: 767px){
.desc-list.list-number {
    margin-top: 90px;
	}
}
	
ul, ol {
    list-style: none;
}	
		/* 転職事例 */
		.desc-list > li {
    background-color: #fcfaf5;
    border-radius: 20px;
    text-align: center;
    padding: 40px;
		}
		
		.desc-list .list-no {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -90px auto 0 auto;
    background-color: #fcfaf5;
    border-radius: 50%;
    color: #f79314;
    font-weight: bold;
    font-size: 40px;
}
@media screen and (max-width: 767px){
.desc-list .list-no {
    font-size: 30px;
    height: 80px;
    margin-top: -70px;
    width: 80px;
	}
}
		
		.desc-list .list-title {
    font-weight: bold;
    font-size: 30px;
    margin-top: -20px;
    letter-spacing: 1px;
		}

@media screen and (max-width: 767px){
.desc-list .list-title {
    font-size: 20px;
    margin-top: -10px;
	}
}
		.desc-list .list-text {
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1.5px;
    font-weight: 700;
    line-height: 2;
}

@media screen and (max-width: 767px){
.desc-list .list-text {
    font-size: 15px;
    line-height: 2.2;
	}
}
		
		.desc-list .list-text span {
    color: #f79314;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    line-height: 1;
		}
		
		.desc-list .example {
    background-color: #fff;
    width: 100%;
    margin-top: 40px;
    border-radius: 20px;
    padding: 50px;
}

@media screen and (max-width: 767px){
.desc-list .example {
    padding: 20px;
}
}

@media screen and (max-width: 767px){
.SuccessStories {
    padding-top: 40px !important;
	}
}
		.SuccessStories__title {
    display: inline-block;
		}
		
		.SuccessStories__title > h4 {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    vertical-align: bottom;
}

		@media screen and (max-width: 767px){
.SuccessStories__title > h4 {
    font-size: 16px;
	}
}
		SuccessStories__title > img {
    height: auto;
    margin-left: 10px;
    width: 34px;
}

@media screen and (max-width: 767px){
.SuccessStories__title > img {
    margin-left: 5px;
    width: 24px;
}
}
		.SuccessStories__title::after {
    content: '';
    border-bottom: solid 4px #f79314;
    display: block;
    margin-top: 10px;
}

@media screen and (max-width: 767px){
.SuccessStories__title::after {
    margin-top: 5px;
	}
}
	
	.desc-list .example-contents.contents-tidy {
		flex-wrap: wrap;
	}
	.desc-list .example-contents {
		margin: 32px 0 10px 0;
}
@media screen and (max-width: 767px){
.desc-list .example-contents {
    margin: 14px 0 0 0;
	}
}

	
.SuccessStoriesList__link {
    cursor: pointer;
    display: contents;
	}
	
	.desc-list .example-contents img {
    width: 60px;
    height: 60px;
	}
	
	.SuccessStory {
    display: flex;
    width: 33.3%;
    margin-bottom: 50px;
	}

@media screen and (max-width: 1080px){
.SuccessStory {
    padding-left: 10px;
    padding-right: 10px;
	}
}

@media screen and (max-width: 767px){
.SuccessStory {
    align-items: center;
    margin-bottom: 40px;
    padding-right: 0;
    width: 100%;
	}
}
	.SuccessStory::after {
    content: url(image/chevron-right.jpeg);
    display: inline-block;
    height: fit-content;
    margin: auto;
    transform: scale(0.4);
	}
	
	.SuccessStory__intro {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 16px;
    text-align: left;
	}
	
	.SuccessStory__intro p {
    color: #000;
    font-weight: 700;
	}
	/* 現場が認めるカリキュラム */
	.desc-list > li + li {
    margin-top: 120px;
}
	
	.CorporationInterviewSection {
    margin-top: 30px;
}
@media screen and (max-width: 767px){
.CorporationInterviewList {
    margin-bottom: 4px !important;
	}
}
	
	.CorporationInterviewCard-with-link {
    padding: 30px 30px 60px;
}

@media screen and (max-width: 767px){
.CorporationInterviewCard--with-link {
    padding: 20px 20px 30px;
	}
}
	
	.CorporationInterviewCard {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    margin-bottom: 25px;
    position: relative;
    text-align: left;
    width: 100%;
}

@media screen and (max-width: 767px){
.CorporationInterviewCard {
    display: block;
    margin: 0 auto 25px;
    padding: 20px;
	}
}
	
	.CorporationInterviewCard__left {
    color: #a2a2a4;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
@media screen and (max-width: 767px){
.CorporationInterviewCard__left {
    margin-bottom: 16px;
	}
}
	
	.CorporationInterviewCard__left img {
    border-radius: 4px;
    width: 390px;
    margin-bottom: 5px;
}

@media screen and (max-width: 767px){
.CorporationInterviewCard__left img {
    width: 100%;
	}
}

@media screen and (max-width: 767px){
.CorporationInterviewCard__left span {
    display: block;
	}
}

	.CorporationInterviewCard__right {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;
    margin-left: 16px;
}
@media screen and (max-width: 767px){
.CorporationInterviewCard__right {
    margin: 0;
}
}
	
	.CorporationInterviewCard__right > p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
	}
	
	.CorporationInterviewCard__link {
    align-items: baseline;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

@media screen and (max-width: 767px){
.CorporationInterviewCard__link {
    align-items: center;
    margin-top: 25px;
    position: static;
    text-align: right;
	}
}
	
	.CorporationInterviewCard__link a {
    color: #a2a2a4;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
	line-height: 21px;
}


	
	.CorporationInterviewCard__link img {
    margin-left: 10px;
    width: 6px;
}
	
	/* 経験豊富なエンジニア陣がレビュー */
	
	.engineer-list {
    margin-top: 45px;
    margin-left: -15px;
    margin-right: -15px;
}

	.engineer-list .engineer-box {
    background-color: #fff;
    border-radius: 15px;
    margin: 0 15px;
    width: calc(100% / 3);
}
		
	.engineer-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: 20px;
}
	
	.engineer-company-logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
	}
	
	.engineer-company-logo > img {
    width: 100%;
}
	
	.engineer-profile {
    display: flex;
    align-items: center;
    width: 100%;
	}
	
	.engineer-name.contents-tidy {
    flex-direction: column;
	}
	
	.engineer-name {
    text-align: start;
    margin-left: 15px;
    font-size: 20px;
	}
	
	.engineer-name > span {
    color: #f79314;
    font-size: 14px;
	}
	
	.engineer-text {
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: start;
	}
	
	.engineer-text::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 29px;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #f6f6f6;
}
	
	/* 卒業後のの紹介企業が多数 */
	
	..desc-list .example-company {
    padding: 28px 30px;
}

@media screen and (max-width: 767px){
.desc-list .example-company {
    padding: 20px;
}
}

.desc-list .example {
    background-color: #fff;
    width: 100%;
    margin-top: 40px;
    border-radius: 20px;
    padding: 30px;
}

@media screen and (max-width: 767px){
.desc-list .example {
    padding: 20px;
	}
}

@media screen and (max-width: 767px){
.desc-list .example-contents {
    margin: 14px 0 0 0;
	}
}


	
	.desc-list .example-contents.contents-tidy {
    flex-wrap: wrap;
	}
	
	.desc-list .example-contents-company {
    justify-content: start;
    margin: 0;
	}
	
	.desc-list .example-contents-company > li {
    height: 71px;
    margin: 12px 0;
    padding: 0;
    width: 25%;
}
.desc-list .example-contents > li {
    display: flex;
    width: 33.3%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1080px){
.desc-list .example-contents > li {
    padding-left: 10px;
    padding-right: 10px;
	}
}

@media screen and (max-width: 767px){
.desc-list .example-contents > li {
    margin-bottom: 24px;
    width: 100%;
    padding: 10px 5px;
	}
}

media screen and (max-width: 767px){
.desc-list .example-contents-company > li {
    margin: 0;
    padding: 0;
    width: 50%;
	}
}
	
	.desc-list .example-contents-company .img-box {
    align-items: center;
    background-color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
		width: calc(100% + 50px);
		object-fit: contain;
	}
	
	.desc-list .example-contents-company img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
	
	/* サポート体制も充実 */
	
	.desc-list .example-contents-support {
    display: block;
    justify-content: start;
    margin: 0;
    padding: 10px;
	}
	
	.desc-list .example-contents-support > li {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    list-style: disc;
    list-style-position: inside;
    margin-left: 1.4em;
    text-align: left;
    text-indent: -1.4em;
    width: 100%;
	}
	
	:marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
	}
	
	.desc-list .example-contents-support-supplement {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 6px 0 10px;
    text-align: left;
}
	
	/*  potepan campの選べるコース  */
	
	.main-section.top-potepan {
    position: relative;
    overflow: hidden;
    background-color: #f6f6f6;
	}
	
	.main-section.top-potepan .contents-width {
    background-image: url(image/bg-section-top-course.png);
    background-size: 281px 275px;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) top;
    padding-top: 35px;
}

@media screen and (max-width: 767px){
.main-section.top-potepan::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 60%;
    right: 20px;
    display: block;
    width: 130px;
    height: 130px;
    background-image: url(image/bg-section-top-course.png);
    background-size: contain;
    background-repeat: no-repeat;
	}
}

@media screen and (max-width: 767px){
.main-section.top-potepan .content-width {
    background: none;
    padding-top: 0;
	}
}
	
	.main-section.top-potepan > * {
    position: relative;
    z-index: 1;
	}
	
	.main-section .section-header + .section-content {
    margin-top: 60px;
	}
	
	.section-header.contents-tidy {
    flex-direction: column;
    align-items: center;
	}
	
	.section-main-heading {
    font-size: 46px;
    font-weight: bold;
}

@media screen and (max-width: 767px){
.section-main-heading {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
	}
}
	
	.section-header h2 > span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

@media screen and (max-width: 767px){
.section-header h2 > span {
    font-size: 30px;
    letter-spacing: 1px;
	}
}


	
	.section-sub-heading {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 767px){
.section-sub-heading {
    font-size: 14px;
	}
}
	
	.section-sub-heading > span {
    font-family: 'Lato', sans-serif;
}
	
	.section-header.bottom-line::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
}

@media screen and (max-width: 767px){
.main-section.top-potepan .section-contents {
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
	}
}

@media screen and (max-width: 767px){
.main-section.top-potepan .course-list {
    padding: 0 20px;
	}
}
	
	.course-media {
    font-weight: bold;
    padding: 45px;
    background-color: #fff;
}

@media screen and (max-width: 767px){
.course-media {
    flex-direction: column;
    padding: 25px;
	}
}
	
	.course-media.career .course-title {
    border-image: linear-gradient(to right, #f79214 0%, #f74e06 100%);
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
		padding: 20px 0;
		border-style: solid;
	}
	
	.course-title {
    width: 30%;
    margin-right: 30px;
    border: solid 3px;
}

@media screen and (max-width: 767px){
.course-title {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
	}
}
	
	.course-title.contents-tidy {
    justify-content: center;
    align-items: center;
	}
	
	.course-title p {
    color: #f77f14;
    margin-bottom: 7.5px;
    font-size: 18px;
    font-weight: bold;
}
	
	.course-title h3 {
    font-size: 24px;
    text-align: center;
}
	
	.course-contents {
    width: calc(70% + 30px);
    position: relative;
}

@media screen and (max-width: 767px){
.course-contents {
    width: 100%;
    margin-top: 25px;
    padding-right: 0;
	}
}
	
	.course-media.career .course-text {
    color: #f77f14;
    font-size: 24px;
}

@media screen and (max-width: 767px){
.course-text {
    line-height: 1.5;
	}
}
	
.course-contents > div {
    margin-top: 20px;
    display: flex;
    align-items: center;
}	

@media screen and (max-width: 767px){
.course-contents > div {
    margin-top: 25px;
	}
}
	
	.course-contents > div p:first-of-type {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(
90deg, #212121, #444);
    padding: 6px 16px;
    border-radius: 20px;
    margin-right: 15px;
}

@media screen and (max-width: 767px){
.course-contents > div p:first-of-type {
    word-break: keep-all;
	}
}
	
	.course-contents > div p:last-of-type {
    font-size: 18px;
}


	
	.course-link {
    position: absolute;
    right: 20px;
    bottom: -5px;
    font-size: 14px;
    font-weight: 700;
    color: #999;
}

@media screen and (max-width: 767px){
.course-link {
    position: static;
    text-align: right;
    margin-top: 25px;
    padding-right: 20px;
	}
}
	
	.course-link::after {
    content: url(image/chevron-right.jpeg);
    display: inline-block;
    height: fit-content;
    margin: auto;
    transform: scale(0.4);
    position: absolute;
    width: 8px;
    height: 8px;
    bottom: 10px;
    right: -14px;
}

@media screen and (max-width: 767px){
.course-link::after {
    right: 0;
	}
}
	
	.section-button {
    margin-top: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px){
.section-button {
    margin-top: 40px;
    max-width: 250px;
	}	
}
	
	/* サービスの想い */
	
	.main-section.top-service {
    background-color: #fcfaf5;
	}
	
	.message-title {
    display: inline-block;
    font-size: 50px;
    color: #ff802c;
    background: -webkit-linear-gradient(
0deg, #ff802c, #f79214);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    letter-spacing: 3px;
    position: relative;
    z-index: 1;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

@media screen and (max-width: 1024px){
.message-title {
    font-size: 32px;
    background: -webkit-linear-gradient(
0deg, #ff802c, #f79214);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	}
}
	

	
	@media screen and (max-width: 1024px){
.message-contents {
    flex-direction: column;
    position: relative;
    background-color: #fff;
    padding: 45px 40px 40px;
}
	}
	.message-contents.contents-tidy {
    align-items: center;
	}
	
	.message-contents {
    margin-top: -20px;
		position: relative;
	}
	
	.message-contents.contents-tidy {
    align-items: center;
}
	
	.message-text {
    background-color: #fff;
    padding: 40px 150px 40px 40px;
		margin-right: -100px;
		
}

@media screen and (max-width: 1024px){
.message-text {
    padding: 0;
    margin-right: 0;
    margin-top: 30px;
    order: 2;
}
}
	.message-text p {
    line-height: 2;
    font-weight: 500;
	}
	
	.message-text p + p {
    margin-top: 40px;
}
	
	.message-thumbnail {
		position: relative;
	}
	
	@media screen and (max-width: 1024px){
.message-thumbnail {
    order: 1;
	}
	}
	
	.message-thumbnail p {
    position: absolute;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 10px #808080;
	}
	
	.message-thumbnail p span {
    font-size: 24px;
}

@media screen and (max-width: 1024px){
.message-thumbnail > img {
    width: 100%;
}
}

	/* 受講生の声 */

.interview-list {
    margin-left: -20px;
    margin-right: -20px;
}

@media screen and (max-width: 1070px){
.interview-list {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 160px;
    padding-right: 160px;
}
}

@media screen and (max-width: 840px){
.interview-list {
    padding-left: 80px;
    padding-right: 80px;
	}
}

@media screen and (max-width: 560px){
.interview-list {
    padding-left: 40px;
    padding-right: 40px;
	}
}

	.interview-list > li {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% / 3);
}
	

	@media screen and (max-width: 1070px){
.interview-list > li {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
	}

@media screen and (max-width: 1070px){
.interview-list > li + li {
    margin-top: 20px;
    padding-top: 30px;
    border-top: solid 1px #efefef;
	}
}

	.interview-media .interview-media-thumbnail {
    overflow: hidden;
    position: relative;
    padding-top: 100%;
	}
	
	.interview-media .interview-media-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
	}
	
	@media screen and (min-width: 768px){
.hover-scale {
    transition: transform 0.2s;
		}
	}
	.pc-dn {
    display: none !important;
	}
	
	.interview-media .interview-thumbnail-titlebox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 80px 20px 15px;
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
}

@media screen and (max-width: 767px){
.interview-media .interview-thumbnail-titlebox {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0));
    padding: 50px 10px 10px;
	}
}
	
	.interview-media .interview-media-thumbnail {
    overflow: hidden;
    position: relative;
    padding-top: 100%;
}
	
	.interview-media .interview-thumbnail-titlebox .interview-thumbnail-title {
    font-size: 16px;
    font-weight: bold;
    color: #f79314;
	}
	
	interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
    padding-top: 4px;
    border-top: 1px solid #fff;
}

@media screen and (max-width: 767px){
.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle {
    display: flex;
    flex-direction: column;
	}
}
	
	.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle .name {
    font-size: 20px;
	}
	
	.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle > *:last-child {
    font-size: 12px;
    margin-left: 15px;
}

@media screen and (max-width: 767px){
.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle > *:last-child {
    margin-left: 0;
	}
}
	
	.interview-media .interview-media-text {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    line-height: 1.8;
}

@media screen and (max-width: 767px){
.interview-media .interview-media-text {
    margin-top: 20px;
	}
}
	
	@media screen and (min-width: 768px){
.hover-text-color {
    transition: 0.2s;
	}
	}
	@media screen and (max-width: 1070px){
.interview-list > li + li {
    margin-top: 20px;
    padding-top: 30px;
    border-top: solid 1px #efefef;
	}
	}
	
	.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
    padding-top: 4px;
    border-top: 1px solid #fff;
}
	
	/* footer */
	.site-footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #f79314;
}

@media screen and (max-width: 767px){
.site-footer {
    padding-top: 60px;
    padding-bottom: 40px;
}
}

@media screen and (max-width: 767px){
.site-footer-main {
    display: block;
    text-align: center;
	}
}

	.page-top-button.contents-tidy {
    align-items: center;
    justify-content: center;
}
	
	.page-top-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -105px;
    right: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 12px 30px -15px;
    transition: 0.2s;
	}
	
	@media screen and (max-width: 767px){
.page-top-button {
    right: 20px;
    top: -85px;
	}
	}
	
	.page-top-arrow {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-left: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(
45deg);
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
	}
	
	@media screen and (max-width: 767px){
.site-footer-main .footer-nav {
    text-align: left;
    margin-right: 0;
		margin-left: 20px;
	}
	}
	
	.site-footer-main .footer-nav {
    margin-right: 20px;
    order: 2;
	}
	
	.footer-nav-item {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
	}
	
	.footer-nav-item > span {
    font-weight: normal;
    margin-left: 1em;
}
	
	.footer-nav-item:link, .footer-nav-item:visited {
    color: #fff;
	}
	
	@media screen and (max-width: 767px){
.site-footer-main .footer-nav-and-character {
    margin-top: 30px;
	}
	}
	
	.site-footer-main .footer-nav-and-character {
    order: 3;
	}
	
	.site-footer-main .footer-nav-and-character .footer-nav {
    align-self: flex-start;
}
	
	@media screen and (max-width: 767px){
.site-footer-main .footer-nav-and-character .footer-character {
    margin: 34px auto;
	}
}
	
	.site-footer-main .footer-nav-and-character .footer-character {
    align-self: flex-end;
    margin: 90px 0 0 40px;
}
	
	.footer-character > img {
    width: auto;
    height: 70px;
	}
	
	@media screen and (max-width: 767px){
.site-footer-main .footer-info {
    margin-right: 0;
	}
	}
	
	.site-footer-main .footer-info {
    margin-right: 40px;
    order: 1;
}
	
	@media screen and (max-width: 767px){
.site-footer-main * + .footer-info {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #fff;
	}
	}
	
	.footer-info {
    display: block;
    color: #fff;
}

	
	address {
    font-style: normal;
	}
	
	@media screen and (max-width: 767px){
.footer-info .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	}
	}
	
	.footer-info .footer-logo {
    display: inline-block;
    max-width: 280px;
	}
	
	.footer-info .footer-logo > img {
    width: 100%;
    height: auto;
	}
	
	.footer-info .footer-logo + .footer-company {
    margin-top: 25px;
	}
	
	@media screen and (max-width: 767px){
.footer-info .footer-company, .footer-info .footer-address {
    text-align: center;
	}
	}
	
	.footer-info .footer-company, .footer-info .footer-address {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
	}
	
	.footer-info .footer-address + .footer-social {
    margin-top: 35px;
	}
	
	@media screen and (max-width: 767px){
.footer-info .footer-social {
    justify-content: center;
	}
	}
	
	.footer-info .footer-social {
    display: flex;
	}
	
	.footer-info .footer-social-item {
    display: block;
    max-width: 60px;
	}
	
	.footer-info .footer-social > li + li {
    margin-left: 20px;
	}
	
	.footer-info .footer-social-item > img {
    width: 100%;
    height: auto;
	}
	
	@media screen and (max-width: 767px){
.content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
	}
	}
	
	@media screen and (max-width: 767px){
.site-footer-sub {
    text-align: center;
	}
	}
	.site-footer-sub {
    margin-top: 60px;
}
	
	.footer-copyright {
    color: #fff;
    font-size: 12px;
}

	.footer-nav > li + li {
    margin-top: 30px;
}
	
	
.hover-scale {
  @media screen and (min-width: 768px) {
    transition: transform 0.2s;
  }
}

.hover-text-color {
  @media screen and (min-width: 768px) {
    transition: 0.2s;

    &:hover {
      color: #f79314;
    }
  }
}



	
	
	
	
	
	
	
	
	@media screen and (min-width: 768px){
.hover-opacity {
    transition: opacity 0.2s;
}
	}
	
	
	.pc-dn {
	display: none !important;
}

  @media screen and (max-width: 767px) {
    display: block !important;
  }

.sp-dn {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}


/* リセットCSS */
/* margin padding reset */
body, div, p,  ul, ol, li, dl, dt, dd, table, th ,td, img, figure,
h1, h2, h3 ,h4 ,h5, h6, form, select
{ margin: 0; padding: 0; }

html
{ -webkit-text-size-adjust: 100%; }

body
{ -webkit-font-smoothing: antialiased; }

/* remove list point mark */
ul, ol
{ list-style: none; }

/* remove border & off descender */
img
{ border: 0; vertical-align: middle; }

/* remove descender */
svg, input, select, textarea, label
{ vertical-align: middle; }

/* set collapse */
table
{ border-collapse: collapse; }

/* break word for all elements */
*, *:before, *:after
{ word-break: break-all; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

pre
{ white-space: pre-wrap; }

address
{ font-style: normal; }

p
{ line-height: 1.5; }

